.partsuperior{
    background-color: greenyellow;
    height: 40px;
}


.pie{
    background-color: yellowgreen;
    height: 40px;
}

.img1{
    background-image: url(imagen.png);
    width: 80px;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hojaA4{
    height: 40%;
    width: 80px;
    border-color: red;
    border-style: solid;    
}

.hoja{
    display: grid;
    flex-direction: row-reverse ;
    height: 87%;
    width: 100%;
    border-color: rgb(83, 182, 189);
    border-style: solid;
    overflow-y: auto;
    scrollbar-arrow-color: rgb(167, 12, 107);
}

body {
    overflow-y: hidden;
}